@media only screen and (max-width: 885px) {
    #mainButton{
        position:absolute;
        top:20px;
        right:20px;
        z-index:1;
        width:30px;
    }
    
    #listaW:active{
        width:40px;
    }

    #mainButton:hover{
        color:white;
    }

    section{
        background-repeat:no-repeat;
        border:1px solid white;
    }
    
    #section1{
        background-image:url('../Images/finalImages/Intro.png');
        background-size:cover;
        min-height:650px;
    }
    
    .section1div{
        color: white;
        text-align:right;
        top:200px;
        position:absolute;
        right:20px;
    }
    
    .section1div h1{
        font-size:48px;
        letter-spacing: 2px;
    }
    
    .section1div h6{
        font-size:14px;
        font-weight: 400;
    }
    
    .bar{
        display:block;
        margin-top:-2%;
    }
    #firstBar{
        visibility: hidden;
    }
    
    .projects{
        visibility:hidden;
    }
    
    #gold{
        color:#F5A623;
        display:block;
        margin-bottom:10%;
    }

    #UXUI{
        display:block;
        position:absolute;
        right:5px;
    }
    
    #section2{
        background-image:url('../Images/Cb.png');
        background-size:contain;
    }
    
    .section2div{
        margin-left:5%;
        margin-top:15%;
        color:#3b3c3c;
    }
    
    .section2div h1{
        font-size:28px;
        margin-left:-1%;
        letter-spacing: 0.5px;
    }
    
    .section2div h6{
        font-size:14px;
        margin-top:2%;
        font-weight: 400;
    }
    
    .section2Imgs{
        display:block;
        width: 95%;
        margin: 10% auto;
    }
    
    .viewMore{
        color:white;
        display:block;
        background-color:#3B3C3C;
        font-size:16px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        padding:8px;
        margin:15% auto;
        font-weight: 200;
        border-radius: 8px;
        height: 42px;
        width: 95%;
    }
    
    .viewMore:hover{
      cursor:pointer;
      background-color: #F5A623;
    }

    .viewMore:active{
        background-color: #F5A623;
      }
    
    .viewMore:focus{
        outline:none;
    }
    
    #section3{
        background-image:url('../Images/Ab.png');
        background-size:contain;
    }
    
    .section3div{
        margin-left:5%;
        color:#3b3c3c;
    }
    
    .section3Imgs{
        display:block;
        width: 95%;
        margin: 10% auto;
    }
    
    .section3div h1{
        font-size:28px;
        margin-left:-1%;
        letter-spacing: 0.5px;
    }
    
    .section3div h6{
        font-size:14px;
        margin-top:2%;
        font-weight: 400;
    }
    
    #section4{
        background-image:url('../Images/Gb.png');
        background-size:contain;
    }
    
    .section4div{
        margin-left:5%;
        color:#3b3c3c;
    }
    
    .section4div h1{
        font-size:28px;
        margin-left:-1%;
        letter-spacing: 0.5px;
    }
    
    .section4div h6{
        font-size:14px;
        margin-top:2%;
        font-weight: 400;
    }
    
    .section4ImgsDiv{
        text-align:center;
        display:block;
        width: 95%;
        margin: 10% auto;
    }
    
    #section4First{
        width:115px
    }
    
    .section4Imgs{
        width:65px;
        margin:0 10px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    }

    #section5{
        background-image:url('../Images/Abcg.png');
        background-size:cover;
    }
    
    .section5div{
        margin-left:5%;
        color:#3b3c3c;
    }
    
    .section5Imgs{
        display:block;
        width: 95%;
        margin: 10% auto;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.08);
    }
    
    .section5div h1{
        font-size:28px;
        margin-left:-1%;
        letter-spacing: 0.5px;
    }
    
    .section5div h6{
        font-size:14px;
        margin-top:2%;
        font-weight: 400;
    }

    .infoHidden{
        overflow-y: scroll;
        position:fixed;
        top:0;
        width:100%;
        transform:translateX(120%);
        height:100%;
        z-index:2;
        background-color:white;
        transition: transform 1s ease;
    }
    .infoDisplayed{
        transform: translateX(0);
    }

    .aboutme, .contact{
        cursor:pointer;
        padding:0 15px 5px 15px;
        font-size:16px;
        font-weight: 400;
        color:rgb(155,155,155);
    }
    
    .aboutmeContent h3{
        margin-top: 10%;
        font-size:16px;
        font-weight: 600;
    }
    .aboutmeContent p{
        font-size:16px;
        font-weight: 200;
    }
    div p{
        font-size: 16px;
        font-weight: 400;
        margin-top: 10%;
      }

    .aboutmeContent h3{
    margin:0;
    font-size:20px;
    font-weight: 600;
    }
    .socialmediastyle{
    margin-top: 10%;
    font-size: 17px;
    margin-left: 2.5%;
    }
    .isActive{
    border-bottom:2px solid rgb(245,166,35);
    font-weight:600;
    color:black;
    }
    

    @media only screen and (min-width: 500px){
        .section1div h1{
            font-size:90px;
            letter-spacing: 2px;
        }
        .section1div h6{
            font-size:20px;
            font-weight: 400;
        }

        .section2div{
            margin-left:5%;
            margin-top:10%;
            color:#3b3c3c;
        }

        .section2Imgs{
            display:block;
            width: 75%;
            margin: 5% auto;
        }

        .section2div h1{
            font-size:30px;
            margin-left:-1%;
            letter-spacing: 0.5px;
        }
        
        .section2div h6{
            font-size:18px;
            margin-top:2%;
            font-weight: 400;
        }

        .section3div{
            margin-left:5%;
            margin-top:10%;
            color:#3b3c3c;
        }

        .section3Imgs{
            display:block;
            width: 75%;
            margin: 5% auto;
        }

        .section3div h1{
            font-size:30px;
            margin-left:-1%;
            letter-spacing: 0.5px;
        }
        
        .section3div h6{
            font-size:18px;
            margin-top:2%;
            font-weight: 400;
        }

        .section4div{
            margin-left:5%;
            margin-top:10%;
            color:#3b3c3c;
        }
        
        .section4div h1{
            font-size:30px;
            margin-left:-1%;
            letter-spacing: 0.5px;
        }
        
        .section4div h6{
            font-size:18px;
            margin-top:2%;
            font-weight: 400;
        }
        
        .section4ImgsDiv{
            text-align:center;
            display:block;
            width: 75%;
            margin: 5% auto;
        }
        
        #section4First{
            width:25vw;
        }
        
        .section4Imgs{
            width:15vw;
            margin:0 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
        }

        .section5div{
            margin-left:5%;
            margin-top:10%;
            color:#3b3c3c;
        }

        .section5Imgs{
            display:block;
            width: 75%;
            margin: 5% auto;
        }

        .section5div h1{
            font-size:30px;
            margin-left:-1%;
            letter-spacing: 0.5px;
        }
        
        .section5div h6{
            font-size:18px;
            margin-top:2%;
            font-weight: 400;
        }

        .viewMore{
            color:white;
            display:block;
            background-color:#3B3C3C;
            font-size:20px;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            padding:8px;
            margin:0 auto;
            margin-top:10%;
            margin-bottom:2.5%;
            font-weight: 200;
            border-radius: 8px;
            height: 42px;
            width: 70%;
        }
        
    
    }
}
